<ion-header>
  <ion-toolbar>
    <ion-title class="centered-title">Eventos do Mês</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="custom-content">
  <ion-card *ngFor="let event of events" class="event-card">
    <ion-img [src]="event.imageUrl || 'https://example.com/default-image.jpg'"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ event.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ event.description }}
    </ion-card-content>
    <ion-card-content class="card-buttons">
      <ion-button expand="block" (click)="lista(event.id)">Lista</ion-button>
      <ion-button expand="block" (click)="presenca(event.id)">Presença</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
