// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-GREEN: #4CAF50;  // Verde
    --ion-color-ORANGE: #FFA500;  // Laranja
    --ion-color-secondary-rgb: 255, 165, 0;
    --ion-color-WHITE: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #e59400;
    --ion-color-secondary-tint: #ffb733;
  }